.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
    h1 {
      font-size: 4rem;
      background: $gradient-color-one;
      background-clip: text;
      color: transparent;
    }
    p{
        font-size: 1rem;
        font-weight: 500;
        line-height: 30px;
    }
  }
  .about-img img {
    height: auto;
    width: 30vw;
    border-radius: 50%;
  }
}
