@import './variables';
@import './header';
@import './about';
@import './education';
@import './projects';
@import './contact';
@import './skills';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}


::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: $second-color;
}

::-webkit-scrollbar-thumb{
    background: $gradient-color-four;
}

.btn-group{
    display: flex;
    gap: 1rem;
    a{
        color: $first-color;
    }
    .btn{
        text-decoration: none;
        border-radius: 3rem;
        padding: 0.5rem 1.5rem;
        border: 2px solid black;
        cursor: pointer;
        font-weight: 500;
        text-wrap: nowrap;
        transition: .2s ease-in-out;

        &:hover{
            background:$first-color;
            color: $text-color;
        }
    }
}