$first-color:black;
$second-color:rgb(219,219,219);
$text-color:white;
$gradient-color-one:linear-gradient( to right,rgb(0,157,255),rgb(255,0,255));
$gradient-color-two:linear-gradient( to right,rgb(255,0,255),rgb(0,157,255));
$gradient-color-three:linear-gradient( to right,#009dff,#ff00ff);
$gradient-color-four:linear-gradient( to bottom,#009dff,#ff00ff);
